[:page partOf="trails" ]
        <div class="form-group">
           <div id="index-btn-when-anonymous" [:if currentUser(request.session) != null]class="gx-hidden"[/if] >
              <button  type="submit" class="btn btn-primary btn-login">Se connecter</button>&nbsp;
              <button  type="submit" class="btn btn-default btn-register">S'enregister</button>&nbsp;
              <button  type="submit" class="btn btn-warning btn-search loading-on-click">Rechercher une trace</button>
           </div>
           <div id="index-btn-when-logged" [:if currentUser(request.session) == null]class="gx-hidden"[/if]  >
             <button  type="submit" class="btn btn-primary btn-add">Ajouter une trace</button>&nbsp;
             <button  type="submit" class="btn btn-warning btn-search loading-on-click">Rechercher une trace</button>
           </div>
        </div>
        <div style="margin-top: 20px"  class="text-warning  form-error-message" >Cette application est actuellement en construction.</div>
