[:page partOf="trails"]

                        <input type="hidden" class="search-form-inputs search-form-bounds-location" id="search-form-input-location-ne-lat" />
                        <input type="hidden" class="search-form-inputs search-form-bounds-location" id="search-form-input-location-ne-long" />
                        <input type="hidden" class="search-form-inputs search-form-bounds-location" id="search-form-input-location-sw-lat" />
                        <input type="hidden" class="search-form-inputs search-form-bounds-location" id="search-form-input-location-sw-long" />
                        <input type="hidden" id="search-form-js-dart-bridge" />  

      <div  class="gx-vertical-optional-scroll">
        <table  style="width: 100% ;margin-top: 0px ;  background-color: #CFCFCF">  
          <thead>  
            <tr>  
              <th style="width: 12%" >
                     <img  class="gx-as-link search-form-input-activity search-form-input-activity-trek"         alt="randonnée"        src="/assets/img/icon/000000/1/hiking.png" />
                     <img  class="gx-as-link search-form-input-activity search-form-input-activity-running"      alt="course à pied"    src="/assets/img/icon/000000/1/jogging.png" />
                     <img  class="gx-as-link search-form-input-activity search-form-input-activity-bike"         alt="vélo de route"    src="/assets/img/icon/000000/1/cycling.png" />
              </th>  
              <th style="width: *" >Trace</th>  
              <th style="width: 18%" >Distance</th>  
              <th style="width: 18%" >Dénivelé</th>
              <th style="width: 18%" >Sommet</th>
            </tr>  
             <tr style="border-left-style: none" >
                  <td>
                     <img  class="gx-as-link search-form-input-activity search-form-input-activity-mountainbike" alt="vtt"              src="/assets/img/icon/000000/1/mountainbiking-3.png" />
                     <img  class="gx-as-link search-form-input-activity search-form-input-activity-skitouring"   alt="ski de randonnée" src="/assets/img/icon/000000/1/nordicski.png" />
                     <img  class="gx-as-link search-form-input-activity search-form-input-activity-snowshoe"     alt="raquettes"        src="/assets/img/icon/000000/1/snowshoeing.png" />
                  </td>
                  <td  class="gx-small-form-input"  >
                    <span   class="gx-vertical-text-align">
                      <input  type="text"  style="width:100% ;  padding-left: 3px ; padding-right: 3px"  class="gx-small-form-input  search-form-input-text"  placeholder="">
                    </span>
                  </td>   
                  <td class="gx-small-form-input"  >
                    <span class="gx-vertical-text-align">
                      <input  type="text"    class="gx-small-form-input  search-form-input-length-gt"  placeholder="">
                      à  <input  type="text" class="gx-small-form-input  search-form-input-length-lt"  placeholder="">
                      km
                    </span>
                  </td>  
                  <td class="gx-small-form-input"  >
                    <span class="gx-vertical-text-align">
                      <input  type="text"    class="gx-small-form-input  search-form-input-up-gt"  placeholder="">
                      à  <input  type="text" class="gx-small-form-input  search-form-input-up-lt"  placeholder="">
                      m
                    </span>
                  </td> 
                  <td class="gx-small-form-input"  >
                    <span class="gx-vertical-text-align">
                      <input  type="text"    class="gx-small-form-input  search-form-input-upper-point-elevetion-gt"  placeholder="">
                      à  <input  type="text" class="gx-small-form-input  search-form-input-upper-point-elevetion-lt"  placeholder="">
                      m
                    </span>
                  </td>                   
             </tr>            
          </thead>  
        </table>
      </div>
      <div id="trace-search-results-content" class="gx-vertical-optional-scroll">      
        <table class="table" style="width: 100% ;margin-top: 0px"> 
          <tbody id="search-result-body" >  
             <tr id="search-result-row" class="gx-hidden" >
              <td style="width: 12%; text-align: center;" ></td>  
              <td style="width: *" ></td>  
              <td style="width: 18%; text-align: right; padding-right: 40px;" ></td>  
              <td style="width: 18%; text-align: right; padding-right: 40px;" ></td>
              <td style="width: 18%; text-align: right; padding-right: 40px;" ></td>
             </tr>
          </tbody>  
        </table>
      </div>
      <div id="trace-search-results-no-content" class="gx-hidden">      
        <table style="width: 100% ;margin-top: 20px"> 
          <tbody >  
             <tr>
              <td style="width: 20%; text-align: center;" ></td>  
              <td style="width: *" >
                 <div style="font-size: x-large;" >
                    Aucun resultat.
                 </div>
                 <div style="font-size: x-large; margin: 20px;" >
                    soit les critères de recherche sont trop restricifs
                 </div>
                 <div style="font-size: x-large;" >
                    soit la zone géographique de recherche est trop précise 
                 </div>
              </td>  
              <td style="width: 20%;" ></td>
             </tr>
          </tbody>  
        </table>
      </div>      
      
      