[:page partOf="trails"]
      <div id="trace-search-results-content" class="gx-vertical-optional-scroll">
        <table class="table" style="width: 100% ;margin-top: 40px">  
          <thead>  
            <tr>  
              <th style="width: 10%" >Auteur</th>  
              <th style="width: *" >Trace</th>  
              <th style="width: 15%" >Activités</th>  
              <th style="width: 10%" >Distance</th>  
              <th style="width: 10%" >Dénivelé</th>
              <th style="width: 10%" >Sommet</th>
              <th style="width: 10%" >Pente</th>
              <th style="width: 10%" >Difficulté</th>
            </tr>  
          </thead>  
          <tbody id="search-result-body" >  
             <tr id="search-result-row"  >
                  <td></td>  
                  <td></td>  
                  <td></td>
                  <td></td>  
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
             </tr>
          </tbody>  
        </table>
      </div>