[:page partOf="trails"  ]
          <table class="table-form" style="width: 100% ; ">
          <tr style="height: 40px">
             <td style="width: 20%;"  ></td>
             <td colspan="2" style="width: * ; text-align: center;"  >
                <div id="trace-form-error-message" class="text-warning gx-hidden" style="text-align: center;"  ></div>
             </td>
             <td style="width: 20%;"  ></td>
          </tr> 
          <tr>
             <td style="width: 20%;"  ></td>
             <td colspan="2" style="width: * ;   >
                <div class="form-inputs" style="text-align: center;" >
                 <button id="trace-form-submit" class="btn btn-primary">Ajouter cette trace</button>
                </div> 
             </td>
             <td style="width: 20%;"  ></td>
          </tr>    
                                     
          </table>


              

