[:page partOf="trails"]

<div class="trace-details-text">
               <div class="trace-details-activities trace-activities important-text" style="padding-top: 10px" >
                 ####traceRenderer.activities####
               </div>
               <div> 
                    <table  class="table-layout trace-details-statistics" style="width: 100%" >
                        <tr>
                          <td  ><span  class="trace-details-lengthKmPart cell-text-large" >####traceAnalysisRenderer.lengthKmPart####</span>&nbsp;
                                <span  class="trace-details-lengthMetersPart cell-text-small" >####traceAnalysisRenderer.lengthMetersPart####</span></td>
                          <td class="trace-details-up cell-text-large" >####traceAnalysisRenderer.up#### m</td>
                          <td class="trace-details-upperPointElevetion cell-text-large" >####traceAnalysisRenderer.upperPointElevetion#### m</td>
                        </tr>
                        <tr>
                          <td class="cell-text-small" >de distance</td>
                          <td class="cell-text-small" >de dénivelé positif</td>
                          <td class="cell-text-small" >au sommet</td>
                        </tr>
                    </table>        
               </div>
               <div class="trace-details-description" style="margin-top: 10px" >
                 ####traceRenderer.description, encode: 'none'####
               </div>
               <div class="note-text" style="margin-top: 20px" >
                 <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc-nd/3.0/fr/">
                     <img alt="Licence Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/fr/88x31.png" />
                 </a>
                 &nbsp;
                 trace ajoutée par <span class="trace-details-creator note-text" >####traceRenderer.trace.creator####</span>
               </div>
               <div class="note-text" >
                 mise à jour le <span class="trace-details-lastupdate" >####traceRenderer.lastUpdateDate####</span>
               </div>
</div>