     <meta charset="utf-8">   
	 <link rel="shortcut icon" type="image/x-icon" href="/assets/img/compass_275.png" ><link>	
     <link rel="stylesheet" href="/assets/css/bootstrap.css"><link>
     <link rel="stylesheet" href="/assets/lib/leaflet/leaflet.css"><link>      
     <link rel="stylesheet" href="/assets/css/app-share-gps-trace.css"  media="screen" ><link>
     
    <!--    <script src="/assets/js/google-analytics.js"></script>   -->  
 
     <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACqUcoVGLVERGKxv09yqg9jv1iykUDJjA&sensor=false"></script>
     <script src="/assets/lib/leaflet/leaflet.js"></script>
     <script src="/assets/js/gpx-map-layer.js"></script>
     <script src="/assets/js/google-map-layer.js"></script>
     <script src="/assets/js/gx-map.js"></script>
 
