[:page partOf="trails"]
    <div class="space-menu"  >
        <ul role="menu" class="dropdown-menu"  id="menu">
          <li role="presentation" class="dropdown-header">Traces</li>
          <li role="presentation"><a class="loading-on-click" href="/trace.analysis" tabindex="-1" role="menuitem">Analyser une trace</a></li>
          <li role="presentation"><a class="loading-on-click" href="/trace.add" tabindex="-1" role="menuitem">Ajouter une trace</a></li>
          <li role="presentation" class="dropdown-header">A propos</li>
          <li role="presentation"><a  class="loading-on-click" href="/trace.analysis?gpxFileUrl=https://raw.github.com/GeReinhart/app-share-gps-trace/master/web/assets/4027.gpx" tabindex="-1" role="menuitem">Maquette</a></li>
          <li class="divider" role="presentation"></li>
          <li role="presentation" class="dropdown-header">Compte [=currentUser(request.session) != null ? "de " + currentUser(request.session).login: ""]</li>
          [:if currentUser(request.session) != null]
            <li role="presentation"><a  class="loading-on-click" href="/logout" tabindex="-1" role="menuitem">Se déconnecter</a></li>
          [:else]
            <li role="presentation"><a  class="loading-on-click" href="/login" tabindex="-1" role="menuitem">Se connecter</a></li>
            <li role="presentation"><a  class="loading-on-click" href="/register" tabindex="-1" role="menuitem">S'enregistrer</a></li>
          [/if]

        </ul>
    </div>