[:page partOf="trails" args="lightTraceRenderers"]

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACqUcoVGLVERGKxv09yqg9jv1iykUDJjA&sensor=false">
    </script>
    <script type="text/javascript">

      var map = null ;
      var markers = {};
      
      function addMarker(targetMap,  key,  title, lat, long ){
        if(key in markers){
          markers[key].setMap(map) ;
        }else{
          markers[key] = new google.maps.Marker({
            position:   new google.maps.LatLng(lat,long),
            map: targetMap,
            title: title
          });
        }
      }

      function addMarkerToMap( key,  title, lat, long ){
        addMarker(map,  key,  title, lat, long ) ;
      }      
      
      function removeMarker(key){
        if(key in markers){
          markers[key].setMap(null) ;
        }
      }

      function removeAllMarkers(){
        for (var key in markers) {
          markers[key].setMap(null);
        }
      }

      function fitMapViewPortWithMarkers(){
        if ( markers.length > 0){
           var bounds = new google.maps.LatLngBounds ();
           var hasMarkers = false ;
           for (var key in markers) {
              marker = markers[key];
              if (  marker.getMap() != null ){
                hasMarkers = true ;
                bounds.extend (marker.getPosition());
              }
           }  
           if (hasMarkers){
              map.fitBounds (bounds);
              if (map.getZoom() > 12){
                map.setZoom(12);
              }
           }
        }
      }
     
      function isOnTheMap(lat, long){
        return  lat  <= map.getBounds().getNorthEast().lat()
            &&   lat  >= map.getBounds().getSouthWest().lat()
            &&   long <= map.getBounds().getNorthEast().lng()
            &&   long >= map.getBounds().getSouthWest().lng()   ;
      }
      
      function updateSearchFormBounds(){
        document.getElementById('search-form-input-location-ne-lat').value = map.getBounds().getNorthEast().lat() ;
        document.getElementById('search-form-input-location-ne-long').value = map.getBounds().getNorthEast().lng() ;
        document.getElementById('search-form-input-location-sw-lat').value = map.getBounds().getSouthWest().lat() ;
        document.getElementById('search-form-input-location-sw-long').value = map.getBounds().getSouthWest().lng() ;
        
        document.getElementById('search-form-js-dart-bridge').value = new Date().getTime();
        
      }
      
      function initialize() {

        var baryCenter = new google.maps.LatLng([=lightTraceRenderers.baryCenter.latitude],
                                                 [=lightTraceRenderers.baryCenter.longitude]);
        
        var mapOptions = { zoom : 9,
                           mapTypeControl: false,
                           zoomControl: false,
                           center : baryCenter
        					};
        
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        google.maps.event.addListener(map, 'center_changed', updateSearchFormBounds);
        google.maps.event.addListener(map, 'bounds_changed', updateSearchFormBounds);
                
      }
      
      google.maps.event.addDomListener(window, 'load', initialize);
      
      
    </script>
    <div id="map-canvas"  class="space" ></div>

    

