[:page partOf="trails" args="lightTraceRenderers"]

    <div id="search-results-map-canvas"    class="gx-hidden-map" ></div>
    <script type="text/javascript">
        var map = new GxMap("search-results-map-canvas","gnst6zrvh2tnhhulo1kovnh1", new GxIconBuilder() ).init();
  	    map.listenToMapChange(updateSearchFormBounds);
      
        function updateSearchFormBounds(){
          console.log("updateSearchFormBounds",map);
          if (!map){
            return ;
          }
          var bounds = map.getBounds();
          document.getElementById('search-form-input-location-ne-lat').value = bounds.getNorthEast().lat ;
          document.getElementById('search-form-input-location-ne-long').value = bounds.getNorthEast().lng ;
          document.getElementById('search-form-input-location-sw-lat').value = bounds.getSouthWest().lat ;
          document.getElementById('search-form-input-location-sw-long').value = bounds.getSouthWest().lng ;
          document.getElementById('search-form-js-dart-bridge').value = new Date().getTime();
        }
    </script>
