[:page partOf="trails" args="nw, ne, sw, se"]

<div class="spaces" >
	<div class="space space-north-west"  > 
	  <div class="inner-space" >
        [=nw, encode: 'none']
  	  </div>
	</div>
	<div class="space space-north-east"  >
	  <div class="inner-space" >
        [=ne, encode: 'none']
  	  </div>
    </div>
	<div class="space space-south-west"  > 
	  <div class="inner-space" >
        [=sw, encode: 'none']
  	  </div>
 	</div>
	<div class="space space-south-east"  >
	  <div class="inner-space" >
        [=se, encode: 'none']
  	  </div>
	</div>
    [:include center/]
    [:include loading/]
    [:include menu/]
</div>
