[:page partOf="trails" args="w, nw, ne, sw, se"]
<div class="space-loading">
    <img  height="180px" width="180px" src="/assets/img/spinner.gif"></img>
</div>
<div class="spaces" >
    <div class="space space-west"  > 
      <div class="inner-space" >
          [=w, encode: 'none']
       </div>
    </div>
 	<div class="space space-north-west"  > 
	  <div class="inner-space" >
        [=nw, encode: 'none']
  	  </div>
	</div>
	<div class="space space-north-east"  >
	  <div class="inner-space" >
        [=ne, encode: 'none']
  	  </div>
    </div>
	<div class="space space-south-west"  > 
	  <div class="inner-space" >
        [=sw, encode: 'none']
  	  </div>
 	</div>
	<div class="space space-south-east"  >
	  <div class="inner-space" >
        [=se, encode: 'none']
  	  </div>
	</div>
    <div class="space-center" >
        <img style="cursor:move" height="180px" width="180px" src="/assets/img/compass_275.png"></img>
    </div>
</div>