

.space-north-west {
	z-index: 100 ;
	
	background-color: white;

    border-bottom-width: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
    border-right-width: 1px;
	border-right-color: black;
	border-right-style: solid;

}

.space-north-east {
	z-index: 100 ;
		
	background-color: white;

	border-bottom-width: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;	
}

.space-south-west {
	z-index: 100 ;
		
	background-color: white;

    border-right-width: 1px;
	border-right-color: black;
	border-right-style: solid;	
	
}

.space-south-east {
	z-index: 100 ;
		
	background-color: white;
	
}

.space-center {
	z-index: 101 ;
	
	
}


