
h1{
	margin-text-align-left: 80px;
	margin-top: 30px;
	font-size: x-large;
	
	text-align:center;
	
	line-height: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

h2 {
	margin-left: 70px;
	margin-top: 30px;
	font-size: medium;
  
  text-align:left;
	
	line-height: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

p {
	margin-left: 30px;
	margin-right: 30px;
  
  text-align:left;
}

ul{
  text-align:left;
}

ul li {
	margin-left: 20px;
	margin-right: 30px;
}

.table {
  display:table;
}

.table-cell{
  display:table-cell;
}
.align-middle{
  vertical-align: middle ;
  text-align:center;
}

.spaces {
}

.space {
  z-index: 100 ;
  overflow-x: auto;
  background-color: white; 
  margin: 0px; 
  padding: 0px; 
  text-align:center;
}

.inner-space {
  margin: 10px; 
  padding: 0px; 
  vertical-align:middle; text-align:center;
}

.space-north-west {
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-right-width: 1px;
  border-right-color: black;
  border-right-style: solid;

  /* Initial values */
  position: absolute;
  right: 608.5px;
  width: 606.5px;
  height: 344px;

}


.space-north-east {
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;	

  /* Initial values */
  position: absolute;
  right: 0px;
  width: 607.5px;
  height: 344px;
}

.space-south-west {
  border-right-width: 1px;
  border-right-color: black;
  border-right-style: solid;	

  /* Initial values */
  position: absolute;
  right: 608.5px;
  top: 345px;
  width: 606.5px;
  height: 340px;
}

.space-south-east {

  /* Initial values */
  position: absolute;
  right: 0px;
  top: 345px;
  width: 607.5px;
  height: 340px;  
}

.space-center {
  z-index: 101 ;

  /* Initial values */
  position: absolute;
  right: 519.5px;
  top: 254px;
  width: 180px;
  height: 180px;
	
}


